*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 5px;
}

.heading{
    margin-top: 25px;
}


.parking_top{
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin-top: 30px;
    background-color: #888484;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.parking_top .parking_top_item{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parking_top_item{
    border-right: 5px solid black;
}

.parking_middle{
    display: flex;
    justify-content: space-between;
    height: 150px;
    background-color: #888484;
}

.parking_middle .parking_middle_item{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parking_middle_item h1{
    transform: rotate(90deg);
}

.square{
    height: 40px;
    width: 100px;
    background-color: black;
}

.arrow-right{
    width: 0; 
    height: 0; 
    border-top: 60px solid transparent;
    border-bottom: 60px solid transparent;
    
    border-left: 60px solid black;
}

.parking_bottom{
    display: flex;
    justify-content: space-between;
    height: 150px;
    background-color: #888484;
    border-bottom: 5px solid black;
    border-left: 5px solid black;
}

.parking_bottom .parking_bottom_item{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 5px solid black;
}

.parking_bottom_item img, .parking_top_item img{
    width: 25%;
}